<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kjs.Blackboard.ArticleMapper">
    <select id = "selectStartWith" resultType="article">
        SELECT * FROM article WHERE article.title LIKE CONCAT(#{start},'%');
    </select>
    <select id= "selectAuthor" resultType="article">
        SELECT * FROM article WHERE article.author LIKE CONCAT(#{name}, '%');
    </select>
    <select id="selectContent" resultType="article">
        SELECT * FROM article WHERE article.content LIKE CONCAT('%', #{content}, '%');
    </select>
    <insert id="insertArticle">
        INSERT into article (title, author, date, password, content);
        values (#{title}, #{author}, #{date}, #{password}, #{content});
    </insert>
</mapper>